$mobile: new-breakpoint(max-width 500px 4);

body{
  font-family: 'Fira Mono'; 
  margin: 0 auto;
      div{
        margin: 0 auto;
          p{
            margin: 0 auto;
            width: 75%;
            padding-bottom: 30px;
          }
      }

}

.outer-container {
  @include outer-container;
  margin: 10 0 10 0;
  text-align: center;
  max-width: 75%; 
}

.stuff, .home{
  margin: 0 auto;
  width: 100%;
  text-align: center;

}

h1 ,h2{
  padding: 20px;
  text-align: center;
  font-size: 25px;
}
h2.edit {
  margin: 20px;
  text-align: center;
}

.add.btn{ 
  margin-top: 15px;
  padding: 20px;
  font-size: 20px;
  background-color: black;
  display:block;
  float: right;
  margin-right: 10px;
  width: 95%;
}

.hero-copy h1{
  text-shadow: 1px 4px 2px black;
  font-weight: 500;
}
.text_shadow {
  text-shadow: 10px 10px 40px black;
}

a {
  color: black;
  margin: 10px;
  padding: 10px;
    a::hover{
      color: white;
    }
}


.event li ul li   {
  display: inline;
}

div.edit h3 , p , a{
  padding: 10px; 
  text-align: center;
}

div.edit {
  padding: 20px;
}

form {
  margin: 0 auto;
  width: 50%;
}

.buttons{
  padding-bottom: 50px;
}

.fa-5x {
  padding: 10px;
}
.shared-links{
  margin: 20px;
    a {
      margin: 10px;
      padding: 10px;
    }
}
.forgot-password{
  height: 500px;
  width: 200px;
}
.actions {
  margin: 15px;
}


// events page
#map-canvas {
  position: relative;
  width: 100%; 
  min-height: 200px;
}

#map-canvas , .search-bar , #submit-search{
  float: left;
}

.search-bar , #submit-search{
  display: inline-block;
  margin-top: 10px;
  width: 100%
}

.events ul {
  padding: 5px 0 5px 5px;
  background: lightgray;
}

.events li{  
  width: 100%;
}

.events ul li {
 display: inline-block;
 padding: 5px;
 text-align:left;
}

.next_page, .previous_page{
  display: inline;
  float: left;
  clear: both;
  margin: 20px;
}

.navigation-tools{
  float: right;
  // width: 58%;
}

.navigation-tools , .events ul li{
  border: solid;
}

.navigation-tools ul li {
  display: inline; 
  float: right;
  padding-top: 20px;
  padding-bottom:10px;
}

@media only screen and (max-width: 768px){
  #map-canvas, .search-bar , #submit-search {
    width: 100%;
  }
  .navigation-tools {
    width: 100%;
    padding: 10px;
  }
}
   
@media only screen and (max-width: 640px){
  // #map-canvas, .search-bar , #submit-search {
  //   width: 100%;
  // }
  // .navigation-tools {
  //   width: 100%;
  //   padding: 10px;
  // } 

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.container {
  @include outer-container;
  .left-section {
    @include span-columns(4);
    @include omega();
    padding: 0 20px;

    @include media($mobile) {
      @include span-columns(12);
    }
  }

  .right-section {
    @include span-columns(8);
    @include omega();
    @include media($mobile) {
      @include span-columns(12);
    }
  }
}

 
  

