body{
  font-family:"helvetica";
  margin: 0 auto;
      div{
        margin: 0 auto;
          p{
            margin: 0 auto;
            width: 50%;
            padding-bottom: 30px;
          }
      }

}

.stuff, .home{
  margin: 0 auto;
  width: 50%;

}

h1, h2 {
  padding: 20px;
  text-align: center;
  font-size: 25px;
}

.buttons , .tickets{ 
  padding: 20px;
  font-size: 20px;
}
