body{
  font-family: 'Fira Mono'; 
  margin: 0 auto;
      div{
        margin: 0 auto;
          p{
            margin: 0 auto;
            width: 75%;
            padding-bottom: 30px;
          }
      }

}

ul.events {
  li {
    margin: 0 0 20px;
  }
}

.outer-container {
  @include outer-container;
}

.stuff, .home{
  margin: 0 auto;
  width: 100%;

}

h1, h2 {
  padding: 20px;
  text-align: center;
  font-size: 25px;
}

.buttons , .tickets{ 
  
  padding: 20px;
  font-size: 20px;
}

a {
  color: green;
}

table { 
  margin: 0 auto;
  max-width: 960px;
}
