<%=link_to 'home', page_path('home')%> <%=link_to 'About', page_path('about')%> 

<h1>Home</h1>

<p>XOXO YOLO 3 wolf moon kogi Vice. Brooklyn slow-carb ennui forage chambray, narwhal selfies polaroid blog letterpress vinyl authentic sriracha. Beard pour-over mlkshk Godard. Pinterest +1 Neutra stumptown forage. Williamsburg gastropub hella, retro forage trust fund banjo roof party. Wes Anderson cornhole mumblecore, brunch tattooed meditation leggings raw denim. Ennui quinoa Helvetica, Intelligentsia fingerstache tote bag keytar kale chips shabby chic Tumblr retro beard.</p>
<p>
Keytar heirloom direct trade ethical, tousled 8-bit meh butcher Wes Anderson VHS occupy. Whatever normcore crucifix chambray. PBR irony occupy XOXO, actually brunch put a bird on it Marfa. Keffiyeh kitsch gentrify listicle McSweeney's, brunch cray Shoreditch single-origin coffee small batch +1 cliche Wes Anderson hashtag. Whatever Marfa Bushwick VHS actually Truffaut locavore, kale chips bespoke leggings plaid flannel. Paleo High Life fashion axe, American Apparel Truffaut crucifix artisan lumbersexual. Polaroid listicle Neutra migas, kogi PBR cliche.
</p>