<h1>event</h1>
<p> i need to think of a way of clearing this page and filling it with data after the user has clicked on the add to my event on the events show page</p>
<% _.each(events, function(event){ %>

<p>
  <b>Title:</b>
  <%= event.get("title") %>
</p>

<p>
  <b>Description</b>
  <%= event.get("description") %>
</p>

<p>
  <b>City</b>
  <%= event.get("city_name") %> 
</p>

<p>
  <b>Venue</b>
  <%= event.get("venue_name") %>
</p>
<button>Buy Tickets</button>
<!-- <button>Get Directions</button> -->
</br>
<% }); %>
