<!-- i need to get the events information to show here and the google maps with markers-->
<h1>Listing events</h1>
<p>google map needs to be inserted here</p>
<table id="events-table">
  <tr>
    <th>id</th>
    <th>Title</th>
    <th>description</th>
    <th>city</th>
    <th>venue</th>
    <th>start time</th>

  </tr>

  <tbody>
    <% _.each(events, function(event){ %>
      <tr>
        <td><%= event.id %> 
        <td><a href="/#events/<%= event.id %>"><%= event.title %></td
        
        <td></td>
        <td><%= event.description %></td>
        <td><%= event.city_name %></td>
        <td><%= event.venue_name %></td>
        <td><%= event.start_time %></td>
        <td><button>add to MyEvents</button></td>

      </tr>

    <% }); %>
  </tbody>

</table>

<br/>
<button class="next_page">next page</button>
<button class="previous_page">previous page</button>
<a href="/">Home</a>