

<!-- i need to get the events information to show here and the google maps with markers-->
<h1>Listing events</h1>


<table id="events-table">
  <tr>
    <!-- <th>id</th> -->
    <th>Title</th>
    <th>description</th>
    <th>city</th>
    <th>venue</th>
    <th>start time</th>
  </tr>
  <tbody>
    <% _.each(events, function(event){ %>
    <tr>
      <!-- <td><%= event.id %></td> -->
      <td><%= event.title %></td>
      <td><%= event.description %></td>
      <td><%= event.city_name %></td>
      <td><%= event.venue_name %></td>
      <td><%= event.start_time %></td>
      <td><a class="add" data-id="<%= event.id %>" href="#">add to MyEvents</a></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<br/>
<div class="buttons">
  <button class="next_page">next page</button>
  <button class="previous_page">previous page</button>
</div>