
<div class="home">
  <h1>TODOSPORT</h1>
  <p>We watch sports for the excitement, but even moreso, we watch it for the drama. There’s nothing more exciting than seeing a team come back to win that  game after being down 0-3, or a fighter getting off the canvas to score a come from behind knock-out. Sports are about those incredible moments where sheer human will and desire overcomes the odds</p>

  <p>At Todosports we to provide these moments by providing a place where you can search for these events or just find at place where you play.</p>

  <i class="fa fa-futbol-o fa-5x"></i>

  <p>Todosport will change the way you search for sporting events. Quick dynamic searches allows you find sport events close to you. With a click of button you can save events you want to attend and buy tickets.</p>
  </br>
  <p>Football, rugby, cricket or anytype of event, we will show you when and where, making it easy for you to decide what to attend.</p>  
</div>
 

