
  <div class="hero">
    <div class="hero-inner">
      <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
        " alt="Logo Image"></a>
        <div class="hero-copy">
          <h1>TodoSport</h1>
          <p>The glory of sport is born at the moment when the game and the person become one, when all the complexity of one's life finds a moment to emerge in the game. </p>  
          <p>TodoSport </p>
        </div>

      </div>
    </div>

  <div class="home">
    <h1>Home</h1>

    <p>XOXO YOLO 3 wolf moon kogi Vice. Brooklyn slow-carb ennui forage chambray, narwhal selfies polaroid blog letterpress vinyl authentic sriracha. Beard pour-over mlkshk Godard. Pinterest +1 Neutra stumptown forage. Williamsburg gastropub hella, retro forage trust fund banjo roof party. Wes Anderson cornhole mumblecore, brunch tattooed meditation leggings raw denim. Ennui quinoa Helvetica, Intelligentsia fingerstache tote bag keytar kale chips shabby chic Tumblr retro beard.</p>
    <p>
      Keytar heirloom direct trade ethical, tousled 8-bit meh butcher Wes Anderson VHS occupy. Whatever normcore crucifix chambray. PBR irony occupy XOXO, actually brunch put a bird on it Marfa. Keffiyeh kitsch gentrify listicle McSweeney's, brunch cray Shoreditch single-origin coffee small batch +1 cliche Wes Anderson hashtag. Whatever Marfa Bushwick VHS actually Truffaut locavore, kale chips bespoke leggings plaid flannel. Paleo High Life fashion axe, American Apparel Truffaut crucifix artisan lumbersexual. Polaroid listicle Neutra migas, kogi PBR cliche.
    </p>
  </div>
    <ul class="bullets">
      <li class="bullet">
        <div class="bullet-icon bullet-icon-1">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
          " alt="">
        </div>
        <div class="bullet-content">
          <h2>Watch</h2>
          <p>Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
        </div>
      </li>  
      <li class="bullet">
        <div class="bullet-icon bullet-icon-2">
          <img src="png/soccer19.png" alt="">
        </div>
        <div class="bullet-content">
          <h2>Play</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.</p>
        </div>
      </li>
      <li class="bullet">
        <div class="bullet-icon bullet-icon-3">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
        </div>
        <div class="bullet-content">
          <h2>Enjoy</h2>
          <p>Lorem ipsum sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
        </div>
      </li> 
    </ul>

    <div class="stuff">
    <h2>What We Do</h2>
      <p>XOXO YOLO 3 wolf moon kogi Vice. Brooklyn slow-carb ennui forage chambray, narwhal selfies polaroid blog letterpress vinyl authentic sriracha. Beard pour-over mlkshk Godard. Pinterest +1 Neutra stumptown forage. Williamsburg gastropub hella, retro forage trust fund banjo roof party. Wes Anderson cornhole mumblecore, brunch tattooed meditation leggings raw denim. Ennui quinoa Helvetica, Intelligentsia fingerstache tote bag keytar kale chips shabby chic Tumblr retro beard.</p>
      <p>
        Keytar heirloom direct trade ethical, tousled 8-bit meh butcher Wes Anderson VHS occupy. Whatever normcore crucifix chambray. PBR irony occupy XOXO, actually brunch put a bird on it Marfa. Keffiyeh kitsch gentrify listicle McSweeney's, brunch cray Shoreditch single-origin coffee small batch +1 cliche Wes Anderson hashtag. Whatever Marfa Bushwick VHS actually Truffaut locavore, kale chips bespoke leggings plaid flannel. Paleo High Life fashion axe, American Apparel Truffaut crucifix artisan lumbersexual. Polaroid listicle Neutra migas, kogi PBR cliche.
      </sp>
    </div>
