<h1>MyFavouriteEvents</h1>
<p> i need to think of a way of clearing this page and filling it with data after the user has clicked on the add to my event on the events show page</p>
<% _.each(favourite, function(favourite){ %>

<p>
  <b>Title:</b>
  <%= favourite.title %>
</p>

<p>
  <b>Description</b>
  <%= favourite.description %>
</p>

<p>
  <b>City</b>
  <%= favourite.city_name%> 
</p>

<p>
  <b>Venue</b>
  <%= favourite.venue_name %>
</p>
<button id="tickets">Buy Tickets</button>
<!-- <button>Get Directions</button> -->
</br>
<% }); %>
