
<h1 class="MyEvents">My Favourited Events</h1>
<div id="">
<% _.each(favourites, function(favourite){ %>
  
      <ul>
        <li><h3><%= favourite.get("event").title %>  <%= favourite.get("event").city_name %> </h3></li> 
        <li>At the <%= favourite.get("event").venue_name %> - <%= favourite.get("event").start_time %></li</li>
        <li class="truncate"><%= favourite.get("event").description%></li>
        <li><button class="add btn">Buy Ticket</button></li>
        <li><i class="fa fa-money fa-5x "></i></li>
        <li><button class="add btn google_calender">Add To Google Calender</button></li>
        <li><i class="fa fa-calendar fa-5x"></i></li>
      </ul>
  
</br>
<% }); %>

</div>
