
<h1>My Favourited Events</h1>
<div id="myevents">
<% _.each(favourites, function(favourite){ %>
  
      <ul>
        <li><h3><%= favourite.get("event").title %>  <%= favourite.get("event").city_name %> </h3></li> 
        <li>At the <%= favourite.get("event").venue_name %> - <%= favourite.get("event").start_time %></li>
        <li class="truncate"><%= favourite.get("event").description%></li>
        <!-- <li><button>add to calender</button></li> -->
      
        <li title="Add to Calendar"class="addthisevent" >
              <span class="start"><%= favourite.get("event").start_time %></span>
              <span class="end"><%= favourite.get("event").end_time %></span>
              <span class="title"><%= favourite.get("event").title %></span>
              <span class="description"><%= favourite.get("event").description %></span>
         </li>
        </ul>

        <h1>HIIIIIIII</h1> 
        <div title="Add to Calendar" class="addthisevent">
            Add to Calendar
            <span class="start">06/18/2015 09:00 AM</span>
            <span class="end">06/18/2015 11:00 AM</span>
            <span class="timezone">Europe/London</span>
            <span class="title">Summary of the event</span>
            <span class="description">Description of the event</span>
            <span class="location">Location of the event</span>
            <span class="organizer">Organizer</span>
            <span class="organizer_email">Organizer e-mail</span>
            <span class="facebook_event">https://www.facebook.com/events/703782616363133</span>
            <span class="all_day_event">false</span>
            <span class="date_format">MM/DD/YYYY</span>
        </div>
</br>
<% }); %>

</div>
